.card{
 text-align: center;
 border: 1px solid gray;
 box-shadow: 5px 5px 5px gray;
 margin: 5px;

}
.img{
  max-width: 100%;
}
.contenido{
  padding: 15px;
  text-align: left;
}
.contenido p{
  font-size: 20px ;
}
p, h2{
  margin: 0px;
}
